<%= javascript_include_tag "progress"%>


 <%= form_for(@ratingother) do |f| %>
  <% if @ratingother.errors.any? %>
    <div id="error_explanation">
      
      <% @ratingother.errors.full_messages.each do |message| %>
        <p class="alert-box"><%= message %></p>
      <% end %>
    </div>
  <% end %>

   <%= f.hidden_field :email, :value => params[:email] %></br>
  
   <% unless user_signed_in?%>
      <%= f.hidden_field :anonymous_user ,:value => true %>
   <%end%>
   <%= f.label :trustworthy %><br>

  <%= f.range_field :trustworthy, :min=>1, :max=>10,:value => 2, :class=>"ui-slider", :id =>"slider" %></br>
 
    <%= f.label :kind_helpful %><br>


    <%= f.range_field :kind_helpful, :min=>1, :max=>10,:value => 2,:class=>"ui-slider", :id=>"slider" %></br>


    <%= f.label :potential %><br>

    <%= f.range_field :potential, :min=>1, :max=>10, :value => 2,:class=>"ui-slider", :id=>"slider" %></br>

    <%= f.label :perform_well %><br>


   <%= f.range_field :perform_well, :min=>1, :max=>10,:value => 2, :class=>"ui-slider", :id=>"slider" %></br>
 
      <%= f.label :presentable %><br>

       <%= f.range_field :presentable, :min=>1, :max=>10, :value => 2,:class=>"ui-slider", :id=>"slider" %></br>


   <%= f.label :emotianally_mature %><br>


   <%= f.range_field :emotianally_mature , :min=>1, :max=>10,:value => 2, :class=>"ui-slider", :id=>"slider" %></br>

   <%= f.label :friendly_social %><br>


 <%= f.range_field :friendly_social , :min=>1, :max=>10,:value => 2, :class=>"ui-slider", :id=>"slider" %></br>
   <% unless user_signed_in? %>
   <% else %>
    <%= f.hidden_field :user_id,:value => current_user.id %>
   <% end  %>

    <%= f.submit "Submit",:class=>"btn btn-primary" %>

<% end %>
