<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
<script type="text/javascript">
                    jQuery(function($){
                       $("#datepicker").datepicker({dateFormat: 'dd-mm-yy',yearRange: '1800:2025',changeMonth: false,changeYear: true, maxDate: '+D' })
                        });
</script>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <%= devise_error_messages! %>

  <% if current_user.sign_in_count == 1 && current_user.first_name.present? == false%>

  <h4>Complete profile</h4>

  Thank you for confirming your email!  You need to complete your profile <br> and then finish setup to view the anonymous tips about you in your<br> private FREE Reputation Report. ALL fields are required.<br><br>

<div class="col-xs-4">

  <div><%= f.label :email %>
      <%= f.email_field :email, autofocus: true,:class=>"form-control"  %>
  </div>

 <!--  <div><%#= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%#= f.password_field :current_password, autocomplete: "off",:class=>"form-control"  %></div>
 -->
  <div><%= f.label :first_name %>
  <i style="color: #B8B8B8;"><label for="male">(Real Name Only)</label></i><br>
     <%= f.text_field :first_name,:class=>"form-control", :required => true %></div>

  <div><%= f.label :last_name%>
     <%= f.text_field :last_name ,:class=>"form-control", :required => true%></div>
 
  <div>
      <%= f.label :birthday %>
      <%= f.text_field :birthday,:id=>"datepicker",:class=>"form-control" %>
  </div>

  <div>
      Male <%= f.radio_button :sex , "male",:class=>"first-icon fui-radio-unchecked" %>
      Female <%= f.radio_button :sex , "female",:class=>"second-icon fui-radio-checked" %>
  </div>


  <div><%= f.label :country%>
  <%= f.select(:location,Country.all.map {|country| [ country.name,country.name ]},{:class => "form-control"} ,include_blank: true,:class=>"form-control", :required => true)%>
  </div>



  <div><%= f.label :city%>
  <%= f.text_field :city ,:class=>"form-control", :required => true%>
  </div>
 

    
  <%= form_for :email,:url=>{:controller=>'emails',:action =>'create'} do |f| %>

  <div><%= f.label :secondary_email %></br>
      <%= f.text_area :secondary_email,:class=>"form-control field span12", :rows=>"4",:id => "email_text",:placeholder => "Enter email address separated by (,) ..." ,:class=>"form-control"%>
  </div>
  <div  style="float:right;padding: 90px;"><%= f.submit 'CONTINUE SETUP',:class=>"btn btn-primary", :id=> "email_user" %></div>
      
  <% end %>
   </div>
  <!-- <div style="padding:10.5px 1px 34px"><%#= f.submit "CONTINUE SETUP",:class=>"btn btn-primary" %></div> -->
   <% end %>
 


















  <% if current_user.sign_in_count >= 1 && current_user.first_name.present? == true  %>
  <h2>Update <%= resource_name.to_s.humanize %></h2>

<div class="col-xs-4">
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true,:class=>"form-control"  %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off",:class=>"form-control"  %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control"  %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off",:class=>"form-control"  %></div>

<div><%= f.label :first_name %><br />
  <%= f.text_field :first_name,:class=>"form-control", :required => true %></div>

  <div><%= f.label :last_name%><br />
  <%= f.text_field :last_name ,:class=>"form-control", :required => true%></div>
 
  <div>
      <%= f.label :birthday %><br />
        <%= f.text_field :birthday,:id=>"datepicker",:class=>"form-control" %>
     </div>

  <div><%= f.label :location%><br />
  <%= f.select(:location,Country.all.map {|country| [ country.name,country.name ]},{:class => "form-control"} ,include_blank: true,:class=>"form-control")%>
  </div>

    <div>
       <%= f.label :sex %></br>
                  Male <%= f.radio_button :sex , "male",:class=>"first-icon fui-radio-unchecked" %>
                  Female <%= f.radio_button :sex , "female",:class=>"second-icon fui-radio-checked" %>
    </div>


  <div>
    <%= f.label :zip %><br />
    <%= f.text_field :zip,:class=>"form-control"  %>
  </div>

  <div>
    <%= f.label :organization %><br />
    <%= f.text_field :organization,:class=>"form-control"  %>
  </div>

  <div>
    <%= f.label :industry %><br />
    <%= f.text_field :industry,:class=>"form-control"  %>
  </div>

  <div>
    <%= f.label :size_of_organization %><br />
    <%= f.text_field :orgsize,:class=>"form-control"  %>
  </div>

  <div><%= f.submit "Update",:class=>"btn btn-primary" %></div>

<h5>Add secondary email</h5>
  <%= form_for :email,:url=>{:controller=>'emails',:action =>'create'} do |f| %>
   <div> <%= f.label :email %></br>
   <%= f.text_area :email,:class=>"form-control field span12", :rows=>"4",:id => "email_text",:placeholder => "Enter email address separated by (,) ..." ,:class=>"form-control"%></div>
 <%= f.submit 'AddEmail',:class=>"btn btn-primary", :id=> "email_user" %>
    
<% end %>
    
    
 

<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,:class=>"btn btn-primary" %></p>
 -->
<br><%= link_to "Back",home_dashboard_path,:class=>"btn btn-primary" %>


<% end %>
</div>
<% end %>
</div>

