  <%#= javascript_include_tag "jquery-1.5.2.min","validation.js" %>
<div class="container">


<div class="row">
  
 <h4>Sign Up</h4>

<h8>Use one of your social accounts or email to sign in to Mirror 360 to view the</br> anonymous tips already in your Reputation Report. </h8></br></br>


  <%= link_to user_omniauth_authorize_path(:facebook),:class => "btn btn-facebook" do %>
              <i class="fa fa-facebook"></i><span> | Log in with Facebook</span></a>
<% end %></br></br>

<%= link_to user_omniauth_authorize_path(:google_oauth2),:class => "btn btn-google-plus" do %>
              <i class="fa fa-google-plus"></i><span> | Log in with Google</span></a>
<% end %>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="col-xs-4">
  <%= f.hidden_field :invitation_token %>
  

   <%#= devise_error_messages! %>

   <!-- <div><%= resource.errors.inspect %></div> -->


    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,:class=>"form-control" %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off",:class=>"form-control" %></div>

      
<!-- 
    <div><%#= f.label :password_confirmation %><br />
      <%#= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control" %>
    </div>
 -->

  <div class="control-group">
    <div class="controls"><%= f.submit "Sign up",:class=>"btn btn-primary"  %>
      <%#- if controller_name != 'sessions' %>
  <%#= link_to "Sign in", new_session_path(resource_name),:class=>"btn btn-primary" %><br />
<%# end -%></div></div>
    <%= render "devise/shared/links" %>
     <% end %>
   </div>

   <div class="col-xs-1" style="text-align:center">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>

   </div>
 </div>
   
   <!-- Code of Popup window For Help us -->
   
      <!-- Button to trigger modal -->
    
     
     