<h5>Give tips even without joining.</h5>

<%= form_for(@advice_contact) do |f| %>
  <% if @advice_contact.errors.any? %>
  <div id="error_explanation">
    
      <% @advice_contact.errors.full_messages.each do |message| %>
        <p class="alert-box"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="col-xs-4"style="padding: 55px;">
  <% unless user_signed_in? %>
   <% else %>
    <%= f.hidden_field :user_id,:value => current_user.id %>
   <% end  %>

    <div class="field">
   <%= f.label :email,"Email of a person who would benefit from your tips:"%>
    <%= f.text_area :email ,:placeholder => "Type an email address", :class=>"form-control", :maxlength => 500 %>
    </div></br>

    <strong>Please give this person at least 2 tips below.</strong>

          Please try to make sure they are appropriate and helpful. 
  </br></br><div class="field">
    <%= f.label :praise %><br>
    <%= f.text_area :praise ,:placeholder => "Type in your praise here",:class=>"form-control" , :style => "height:80px !important;" %>
  </div>
  <div class="field">
    <%= f.label :criticism %><br>
    <%= f.text_area :criticism ,:placeholder => "Type in your criticism here",:class=>"form-control" , :style => "height:80px !important;" %>
  </div>
  <div class="field">
    <%= f.label :General %><br>
    <%= f.text_area :helpful_tips ,:placeholder => "Type in your helpful tips here",:class=>"form-control" , :style => "height:80px !important;" %>
  </div>
  <div class="actions">
    <%= f.submit "Continue",:class => "btn btn-primary" %>
    
  </div>
   </div>
<% end %>
