<%= form_for(@advice_contact) do |f| %>
  <% if @advice_contact.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@advice_contact.errors.count, "error") %> prohibited from being saved:</h5>

      <ul>
      <% @advice_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-xs-4">
  <% unless user_signed_in? %>
   <% else %>
    <%= f.hidden_field :user_id,:value => current_user.id %>
   <% end  %>

    <div class="field">
    <%= f.label :email %><br>
    <%= f.text_area :email ,:placeholder => "Type an email address", :class=>"form-control", :maxlength => 500 %>
    </div>
  <div class="field">
    <%= f.label :praise %><br>
    <%= f.text_area :praise ,:placeholder => "Type in your praise here",:class=>"form-control" , :style => "height:80px !important;" %>
  </div>
  <div class="field">
    <%= f.label :criticism %><br>
    <%= f.text_area :criticism ,:placeholder => "Type in your criticism here",:class=>"form-control" , :style => "height:80px !important;" %>
  </div>
  <div class="field">
    <%= f.label :General %><br>
    <%= f.text_area :helpful_tips ,:placeholder => "Type in your helpful tips here",:class=>"form-control" , :style => "height:80px !important;" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Comments",:class => "btn btn-primary" %>
    
  </div>
   </div>
<% end %>
