
<%= form_tag add_feedback_relationships_path,:html =>{:id =>"relationship"}, :method => :post do %> 


<table class="table table-bordered">
  <thead>
    <tr>
    <th> </th>
      <th>Email</th>      
      <th colspan="1"></th> 
    </tr>
  </thead>

  <tbody>
  <!-- <%# @relationships.each do |relationship| %> -->
  <% @contacts.each do |relationship| %>
  <% @relationship = Relationship.find_by_user_id_and_email(current_user.id, relationship.email)%>

      <tr>
      <% if relationship.user_id == current_user.id %>
      <td> 
         <%if @relationship.present? %>
            <input type="checkbox" disabled="disabled" checked="checked">
          <%else%>
             <%= check_box_tag "relationship_ids[]", relationship.id %>
            
          <%end%>
        </td>
        <!-- <td><%#= check_box_tag "relationship_ids[]", relationship.id %></td> -->
        
        <td><%= relationship.email %> &nbsp&nbsp&nbsp&nbsp</td>
        <% if @relationship.nil? %>
       <td><%= link_to 'Create Relationship', new_relationship_path(:email => relationship.email),:class => 'btn btn-primary'  %></td>
       <% else %>
       <td><%= link_to 'Edit Relationship', edit_relationship_path(@relationship),:class => 'btn btn-primary'  %></td>
        <% end %>
       <% end %>
      </tr> 

    <% end %>
     


   <!-- <%#= submit_tag "Select Email",:onclick =>"if(!this.form.checkbox.checked){alert('Please agree to the terms and services.');return false}",:class =>"btn btn-primary" %></p> -->

  </tbody>
</table>

<% end %>
<%= will_paginate @relationships %>
  <%#= link_to 'New Relationship', new_relationship_path, :class => 'btn btn-primary'  %>





                     