
<%= form_tag add_power_group_relationships_path,:html =>{:id =>"power_group"}, :method => :post do %> 


<table class="table table-bordered">
  <thead>
    <tr>
    <th> </th>
      <th>Email</th>
      <th>Circle</th>
      <th>How Long You Know Each Other</th>
      <th>How well they know the person</th>
      <th>Influence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @relationships.each do |relationship| %>
      <tr>
        <td><%= check_box_tag "relationship_ids[]", relationship.id %></td>
        <td><%= relationship.email %> &nbsp&nbsp&nbsp&nbsp</td>
        <td><%= relationship.name %> &nbsp&nbsp&nbsp&nbsp</td>
        <td><%= relationship.how_long_you_know_each_other_avg %></td>
        <td><%= relationship.well_known_user_avg %></td>
        <td><%= relationship.influence_avg %></td>
        
        <td><%= link_to 'Show', relationship %></td>
        <td><%= link_to 'Edit', edit_relationship_path(relationship) %></td>
        <td><%= link_to 'Destroy', relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td> 


        
        <!-- <td><%= link_to 'Add To Power Group', new_influence_path, :class => 'btn btn-small' %></td> -->
       
      </tr>      
    <% end %>
     


   <%= submit_tag "Add To Power Group",:onclick =>"if(!this.form.checkbox.checked){alert('Please agree to the terms and services.');return false}",:class =>"btn btn-primary" %></p>

  </tbody>
</table>
<% end %>
  <%= link_to 'New Relationship', new_relationship_path, :class => 'btn btn-primary'  %>





                     