<h4> Invite them to join or to give you feedback </h4>

<%= form_tag power_feedback_relationships_path, :method => :post do %>
  <table class="table table-bordered">
  	<tr>
    <th>Index</th>
  		<th>Email</th>
  		<!-- <th>Feedback Invite</th> -->
  		<th>Request Feedback</th>
  	</tr>
  <%# @users.each do |user| %>
  <% @relationships.each_with_index do |relationship,index| %>
    <tr>
    <td><%= index+1 %></td>
       <td> <%= relationship.email %>
       <!-- <td><%#= check_box_tag "feedback", 1, :checked %><br/> -->
       <td><%= check_box_tag "invite" %><br/>
    </tr>
  <% end %>
   	<%= hidden_field_tag "emails" , params[:emails] %>
  </table>
 <%= submit_tag "Send Invitaion(s)" ,:onclick =>"if(!this.form.checkbox.checked){alert('Please agree to the terms and services.');return false}",:class => "btn btn-primary"%>
<% end %>

<%#= submit_tag "Add To Power Group",:onclick =>"if(!this.form.checkbox.checked){alert('Please agree to the terms and services.');return false}",:class =>"btn btn-primary" %>
