<h5>Emails of those you'd like to directly invite to join</h5>

<%= form_tag url_for(:controller => 'individuals', :action => 'submit_indiv9') ,:method => 'post',:onsubmit => "return validate_email()" do %>
  <%#= form_for(@paste_user) do |f| %>
 

 <%= hidden_field_tag :user_id,:value => current_user.id %>

  <div class="field">
    <%= label_tag :email %><br>
    <%= text_area_tag :email ,nil,:placeholder => "Enter multiple emails",:class=>"form-control",  :style => "height: 159px ! important; width: 500px;"%><br>
  </div>
  


  <div class="actions">
    <%= submit_tag "Send Invite" ,:class => "btn btn-primary"%>
  </div>
<% end %>
