
<% unless @status_check.self_image == true%>
  <h4>How do you see yourself?</h4><br><br>


  <i>Before you view your Reputation Report and tips we will take you through a few <br> hands-on steps to make sure there is enough community participation and so you get <br>a feel for how this all works.</i><br><br><br>



  Now please <strong>rate yourself</strong> on the same factors you rated the other person.<br><br><br>



   <%#= form_for Rating.new do |f| %>
    
  <%= form_tag url_for(:controller => 'individuals', :action => 'submit_indiv5'), :method => 'post' do |f|%>

  <span style="margin-left:px;">1</span>
  <span style="margin-left:110px;">2</span>
  <span style="margin-left:110px;">3</span>
  <span style="margin-left:104px;">4</span>
  <span style="margin-left:110px;">5</span>
  <span style="margin-left:104px;">6</span>
  <span style="margin-left:110px;">7</span>
  <span style="margin-left:104px;">8</span>
  <span style="margin-left:110px;">9</span>
  <span style="margin-left:103px;">10</span>
  <br>
  <br>
  <%= label_tag :overall_impression %><br>
    </br>
    <input type="range" value="2" name="overall_impresions" min="1" max="10" id="slider" class="ui-slider">
     <%= label_tag :trustworthy %><br>
 
   </br>
    <input type="range" value="2" name="trustworthy" min="1" max="10" id="slider" class="ui-slider">
      <%= label_tag :kind_helpful %><br>

</br>
      <input type="range" value="2" name="kind_helpful" min="1" max="10" id="slider" class="ui-slider">

      <%= label_tag :potential %><br>
</br>
      <input type="range" value="2" name="potential" min="1" max="10" id="slider" class="ui-slider">
      <%= label_tag :perform_well %><br>

</br>
     <input type="range" value="2" name="perform_well" min="1" max="10" id="slider" class="ui-slider">
        <%= label_tag :presentable %><br>

       </br>
         <input type="range" value="2" name="presentable" min="1" max="10" id="slider" class="ui-slider">

     <%= label_tag :emotianally_mature %><br>

</br>
     <input type="range" value="2" name="emotianally_mature" min="1" max="10" id="slider" class="ui-slider">
     <%= label_tag :friendly_social %><br>


</br>
  <input type="range" value="2" name="friendly_social" min="1" max="10" id="slider" class="ui-slider">
      <%= hidden_field_tag :user_id, current_user.id %>
    
      <!-- <div style="float:right;padding: 30px;"><%#= link_to "CONTINUE",indiv6_individuals_path,:class=>"btn btn-primary" %></div> -->

      <div style="float:right;padding: 90px;"><%= submit_tag "Save & Continue",:class=>"btn btn-primary" %>
      <%= link_to "Go to next step",indiv3_individuals_path,:class=>"btn btn-primary" %> 
      </div>
            
  <% end %>
<%else%>
  <p>Before you view your Reputation Report and tips we will take you through a few <br> hands-on steps to make sure there is enough community participation and so you get <br>a feel for how this all works!<br><br><br>

  You done with this onbording sequence.

  <div style="float:right;padding: 90px;">
    <%= link_to "Go to next step",indiv3_individuals_path,:class=>"btn btn-primary" %> 
  </div>

  </p>
<%end%>

