<% unless @status_check.give_feedback == true %>  
  <h5>See how it works - give tips to one person</h5>

  Before you view your Reputation Report and tips we will take you through a few<br> hands-on steps to make sure there is enough community participation and so you get<br> a feel for how this all works!

 <%= form_tag url_for(:controller => 'individuals', :action => 'submit_indiv2') ,:method => 'post' do %>

  <div class="col-xs-4"style="padding: 55px;">

  <% unless user_signed_in? %>
   <% else %>
    <%= hidden_field_tag :user_id, current_user.id %>
   <% end  %>

    <div class="field">
   <%= label_tag 'email',"Email of a person who would benefit from your tips:"%>

    <%= text_field_tag :email ,nil, :placeholder => "Please enter email address", :class=>"form-control",:onblur =>"validateEmail(this);", :maxlength => 500 %>

    </div></br>

    <strong>Please give this person at least 2 tips below.</strong>

          Please try to make sure they are appropriate and helpful. 
  </br></br><div class="field">
    <%= label_tag 'praise' %><br>
    <i style="color: #B8B8B8;"><label for="male">Maximum Character Length is 30</label></i><br>
    <%= text_area_tag :praise ,nil,:placeholder => "Type in your praise here",:class=>"form-control",  :style => "height:80px !important;"%><br>
  </div>
  <div class="field">
    <%= label_tag 'criticism' %><br>
    <i style="color: #B8B8B8;"><label for="male">Maximum Character Length is 30</label></i><br>
    <%= text_area_tag :criticism ,nil,:placeholder => "Type in your criticism here",:class=>"form-control" , :style => "height:80px !important;"  %><br>
  </div>
  <div class="field">
    <%= label_tag 'General' %><br>
    <i style="color: #B8B8B8;"><label for="male">Maximum Character Length is 30</label></i><br>
    <%= text_area_tag :helpful_tips ,nil,:placeholder => "Type in your helpful tips here",:class=>"form-control" , :style => "height:80px !important;" %><br>
  </div>

  <div class="actions">
    <%= submit_tag "Save & Continue",:class => "btn btn-primary" %>
     
    <%= link_to "Go to next step",indiv5_individuals_path,:onclick => "return validate_step()",:class=>"btn btn-primary", :style => "float:right;" %>       
  </div>
  

  </div>
<% end %>
<%else%>
  <p>Before you view your Reputation Report and tips we will take you through a few<br> hands-on steps to make sure there is enough community participation and so you get<br> a feel for how this all works!<br><br><br>
  You done with this onbording sequence.

  <div class="actions">

 <%if @status_check.give_rating == false %>
   <%= link_to "Go to next step",indiv4_individuals_path(:email => @status_check.track_last_email),:class=>"btn btn-primary" %>
 <%elsif @status_check.self_image == false %>
   <%= link_to "Go to next step",indiv5_individuals_path,:class=>"btn btn-primary" %>
 <%elsif @status_check.vote_on_tips == false %>
   <%= link_to "Go to next step",indiv3_individuals_path,:class=>"btn btn-primary" %>
 <%else%>
   <%= link_to "Go to next step",indiv5_individuals_path,:onclick => "return validate_step()",:class=>"btn btn-primary", :style => "float:right;" %>  
 <%end%>     
  </div>

  </p>
<%end%>

<script type="text/javascript">
  function validate_step(){

    var a = document.getElementById('email').value
    var b = document.getElementById('praise').value
    var c = document.getElementById('criticism').value
    var d = document.getElementById('helpful_tips').value
    if( a != null && a != "" && b != null && b != "" && c != null && c != "" && d != null && d != ""   )
    {
     r = confirm("Are you sure you want to skip this step, all the changes will be not be saved.");
     if (r == true )
      {
        return true;
      }
     else
      {
         return false;
      }
    }  
  };
</script>

<script type="text/javascript">
  function validateEmail(emailField){
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

        if (reg.test(emailField.value) == false) 
        {
            alert('Invalid Email Address');
            return false;
        }

        return true;

      };
</script>

