<h4>Invite to anonymize </h4><br><br>

Before you view your Reputation Report and tips we will take you through a few <br> hands-on steps to make sure there is enough community participation and so you get <br>a feel for how this all works.<br><br><br>




Although there may be tips already waiting for you, we need you to <strong>invite at least 5 <br>people to give you feedback.</strong>  The more you invite, the faster you will see your tips.<br> We need enough feedback to anonymize the tips about you. You can invite them from<br> your social networks or by their emails.<br><br><br>


 <div style="margin-bottom:15px;">
<input type="button"
      class = "btn btn-facebook"
      onclick="sendRequestViaMultiFriendSelector(); return false;"
      value="Send Invites to Many Friends with Facebook"
    />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="<%= indiv9_individuals_path %>" class="btn btn-google-plus">Invite by emails</a><br/>
</div>


 <div style="float:right;padding: 90px;">
 <%if @status_check.give_feedback == false %>
   <%= link_to "Go to next step",indiv2_individuals_path,:class=>"btn btn-primary" %>
 <%elsif @status_check.give_rating == false %>
   <%= link_to "Go to next step",indiv4_individuals_path(:email => @status_check.track_last_email),:class=>"btn btn-primary" %>
 <%elsif @status_check.self_image == false %>
   <%= link_to "Go to next step",indiv5_individuals_path,:class=>"btn btn-primary" %>
 <%elsif @status_check.vote_on_tips == false %>
   <%= link_to "Go to next step",indiv3_individuals_path,:class=>"btn btn-primary" %>
 <%else%>
   <%= link_to "Go to next step",indiv7_individuals_path,:class=>"btn btn-primary" %>
 <%end%>
    <%#= link_to "Save & Continue",indiv7_individuals_path,:class=>"btn btn-primary" %>
    
 </div>





    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    
    <p>

    </p>

    <script>
      FB.init({
        appId  : '536335443133989',
        frictionlessRequests: true,
      });

      function sendRequestToRecipients() {
        var user_ids = document.getElementsByName("user_ids")[0].value;
        FB.ui({method: 'apprequests',
          message: 'has invite you to connect to mirror360.com',
          to: user_ids, 
        }, requestCallback);
      }

      function sendRequestViaMultiFriendSelector() {
        FB.ui({method: 'apprequests',
          message: 'has invite you to connect to mirror360.com'
        }, requestCallback);
      }

      function requestCallback(response) {
       
        //alert(response.to);
        if(response.to){  
        $.ajax({
             type: "POST",
             url: "<%= facebook_path %>",
             data:response,
             error: function( xhr ){ 
                alert("ERROR ON SUBMIT");
              },
              success: function( data ){ 
                //data response can contain what we want here...
                console.log("SUCCESS, data="+data);
              }
        });
        }
  }
    </script>

 