<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
<script type="text/javascript">
                    jQuery(function($){
                       $("#datepicker").datepicker({dateFormat: 'dd-mm-yy',yearRange: '1800:2025',changeMonth: false,changeYear: true, maxDate: '+D' })
                        });
</script>

<div class="col-xs-4">

<%= form_for User.new do |f| %>

  
  <div><%= f.label :email %>
  <%= f.email_field :email, autofocus: true,:class=>"form-control"  %></div>

  

  

<div><%= f.label :first_name %>
  <%= f.text_field :first_name,:class=>"form-control" %></div>

  <div><%= f.label :last_name%>
  <%= f.text_field :last_name ,:class=>"form-control"%></div>
 
  <div>
      <%= f.label :birthday %>
        <%= f.text_field :birthday,:id=>"datepicker",:class=>"form-control" %>
  </div>

  <div>
                  Male <%= f.radio_button :sex , "male",:class=>"first-icon fui-radio-unchecked" %>
                  Female <%= f.radio_button :sex , "female",:class=>"second-icon fui-radio-checked" %>
  </div>


  <div><%= f.label :country%>
  <%= f.select(:location,Country.all.map {|country| [ country.name,country.name ]},{:class => "form-control"} ,:prompt =>"Select Country",:class=>"form-control")%>

  </div>

  <div><%= f.label :city%>
  <%= f.text_field :city ,:class=>"form-control"%></div>
 

    
  <%= form_for :email,:url=>{:controller=>'emails',:action =>'create'} do |f| %>
   <div> <%= f.label :secondary_email %>
   <%= f.text_area :email,:class=>"form-control field span12", :rows=>"4",:id => "email_text",:placeholder => "Enter email address separated by (,) ..." ,:class=>"form-control"%></div><br>
    
<% end %>


  <div><%= f.submit "Update",:class=>"btn btn-primary" %></div>
<% end %>


