
   <% if !@contacts.nil?%>
    <% @contacts.each do |c|%>
    <ul>
    <li><%= c[:name]%> : <%= c[:email]%></li>
    </ul>
    <%end%>
    <%end%>

  

<h5>Link/Unlink Email</h5>

<table class="table table-bordered"> 
    <tr>
      <th>Email</th>
    </tr>
      <tr>
        <td><%= current_user.email rescue nil%><p>primary</p></td>
      </tr>
</table>


<table class="table table-bordered"> 
    <tr>
      <th>Email</th>
      <th>Action</th>
    </tr>
  
   <% @emails.each do |email| %>
      <tr>
        <td><%= email.email rescue nil%></td>
         <td><p>merge with primary</p><%= link_to format_boolean(email.merged?), {:controller => 'emails', :action => 'merge', :id => email.id} %></td>
         <td><%= link_to "make primary" %></td>
         <td><%= link_to "messages",tips_path %></td>
      </tr>
    <% end %>
 
</table>