
   <% if !@contacts.nil?%>
    <% @contacts.each do |c|%>
    <ul>
    <li><%= c[:name]%> : <%= c[:email]%></li>
    </ul>
    <%end%>
    <%end%>

    <h5>Tips</h5>

<table class="table table-bordered"> 
    <tr>
      <th>Praise</th>
       <th>Criticism</th>
        <th>Helpful</th>
        <th colspan="1"></th>
    </tr>
  
   <% @tips.each do |tip| %>

      <tr>
        <td><%= tip.praise rescue nil%></td>
         <td><%= tip.criticism rescue nil%></td>
          <td><%= tip.helpful rescue nil %></td>
          <td><%= link_to 'Destroy', tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>

    <% end %>
 
</table>
