<fieldset>
<table style="width:300px">
<p>
<%= f.hidden_field :user_id,:value => current_user.id %>

  <%= f.label :email, "Email:" %>
  <%= f.collection_select :email, UserInvitation.where("user_id = ?", current_user.id).all, :email, :email %>
  
   <%= f.label :your_influence_on_the_persons_future,"Your Influence On The Person's Future:" %>
        <%= f.select :your_influence, options_for_select([['Select', 'Select'], ['Choose One', 'Choose One'], ['Extremely High', 'Extremely High'], ['Very High', 'Very High'], ['Very High', 'Very High'], ['Above Average', 'Above Average'], ['Below Average', 'Below Average'], ['Low', 'Low'], ['None', 'None']]) %>
   

  <%= f.label :Their_influence_on_your_future,"Their Influence On Your Future:" %>
        <%= f.select :influence_on_your, options_for_select([['Select', 'Select'], ['Choose One', 'Choose One'], ['Extremely High', 'Extremely High'], ['Very High', 'Very High'], ['Very High', 'Very High'], ['Above Average', 'Above Average'], ['Below Average', 'Below Average'], ['Low', 'Low'], ['None', 'None']]) %></br> 
 
  <%= f.hidden_field :_destroy %>

   <%= link_to "Remove groups", '#', class: "remove_fields" %> 
</p>
</table>

</fieldset> 




