<div class="field">
    <%= f.label :praise_tips %><br>
    <%= f.text_area :praise_tips %>
  </div>
  <div class="field">
    <%= f.label :criticism_tips %><br>
    <%= f.text_area :criticism_tips %>
  </div>
  <div class="field">
    <%= f.label :helpful_tips %><br>
    <%= f.text_area :helpful_tips %>
  </div>