 <%= form_for :contactus, :url=>{:controller=>'contactus',:action=>'create'} do |f| %>
			
            <div>
			 <%= f.label :Name %><br />							
			<%= f.text_field :name,:class=>"form-control11"%>
			</div>
			
			
			<div>
			 <%= f.label :Email %><br />								
			<%= f.text_field :email,:class=>"form-control11"%>
			</div>
			
			<div>
			<%= f.label :Subject %><br />								
			<%= f.text_field :subject,:class=>"form-control11"%>
			</div>
			
			<div>
			<%= f.label :Message %><br />									
			<%= f.text_area :message,:cols => "30", :rows => "5",:class=>"form-control11"%>
			</div></br>
			
		   <%= f.submit "submit", :class => "btn btn-primary"%>
		   
			
	<% end %>