Welcome to user dashboard

<p>Get your contacts list
<a href="/contacts/gmail">Gmail</a>
   <% if !@contacts.nil?%>

 <% @contacts.each do |c|%>
  <ul>
    <li><%= c[:name]%> :  <%= c[:email]%> :  <%= check_box_tag 'contacts[]' %>
  </ul> 
  <% end %>
 
 <% end %>

<%= form_for Invitation.new do |f| %>
  <p>
    <%= f.label :recipient_email, "Your Email:" %>
    <%= f.text_field :recipient_email %>
    <%= f.submit 'Invite' %>
  </p>
<% end %>

<h3>Import Users</h3>
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload CSV File",:class => "button button-primary" %>
<% end %>

<%= form_for PasteUser.new do |f| %>
  <p>
    <%= f.label :email, "Copy Contact Email:" %>
    <%= f.text_area :email %>
    <%= f.submit 'Paste' %>
  </p>
<% end %>





