<!-- <h4>Welcome to user dashboard<h4>

<% if !@contacts.nil?%>

 <% @contacts.each do |c|%>
  <ul>
    <li><%= c[:name]%> :  <%= c[:email]%> 
  </ul> 
  <% end %>
 
 <% end %>

 
   <% if !@contacts.nil?%>

 <% @contacts.each do |c|%>
  <ul>
    <li><%= c[:name]%> :  <%= c[:email]%> 
  </ul> 
  <% end %>
 
 <% end %>


<%= form_for Invitation.new do |f| %>

    <div class="col-xs-4">
    <%= f.label :recipient_email, "Email:" %>
    <%= f.text_field :recipient_email,:class=>"form-control" %>
    <%= f.submit 'Invite',:class=>"btn btn-primary" %></div>
 
<% end %>
 -->



















 
 <h4> My Mirror </h4>

 <div class="row row_margin">
 
 <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#1E90FF;padding: 10px;">           

    <h6><div> <%= link_to "Ratings" ,  new_rating_path ,:style=>"color:#FFFFFF;font-size:19px;"%></div></h6>



        </div>
  </div>
    
    
  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background: #008B8B;padding: 10px;">            

     <h6 style="margin-bottom: 2px;margin-top: 2px;"><a href="#" style="color:#FFFFFF;font-size:19px;">Reputation Report  and Score</a></h6>

        </div>
  </div>

  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#D2691E;padding: 10px;">           


   <h6><div> <%= link_to "Give Feedback" ,  new_ratingother_path ,:style=>"color:#FFFFFF;font-size:19px;", :class=>"just_reload"%></div></h6>


        </div>
  </div>    
 
 </div>
 


 <div class="row row_margin">
 <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#D2691E;padding: 10px;">    


    <h6><div> <%= link_to "Power Groups" ,  power_group_relationships_path ,:style=>"color:#FFFFFF; font-size:19px;"%></div></h6> 



        </div>
  </div>
    
    
  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#1E90FF;padding: 10px;"> 

    <h6><div> <%= link_to "Tips" , new_tip_path ,:style=>"color:#FFFFFF; font-size:19px;"%></div></h6>

        </div>
  </div>

  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#008B8B;padding: 10px;">           

    <h6><a href="#" style="color:#FFFFFF; font-size:19px;">Participation stats </a></h6>

        </div>
  </div>    
 
 </div>


 <div class="row row_margin">
 <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#008B8B;padding: 10px;">           

    <h6><a href="#" style="color:#FFFFFF;font-size:19px;">Progress Journal </a></h6>

        </div>
  </div>
    
    
  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#D2691E;padding: 10px; ">            

     <h6 style="margin-bottom: 2px;margin-top: 2px;"><div> <%= link_to "Invite Others or Get Feedback" , invite_paste_users_path ,:style=>"color:#FFFFFF;font-size:19px;"%></div></h6>

        </div>
  </div>

  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#008B8B;padding: 10px;">           

    <h6><a href="#" style="color:#FFFFFF;font-size:19px;">Notification </a></h6>

        </div>
  </div>   
 
 </div>
   
 
 
 

  
    
    </div>
    <!-- /.container -->
  