<h4>Welcome to user dashboard<h4>


<h6>Get your contacts list
<a href="/contacts/gmail">Gmail</a></h6>
   <% if !@contacts.nil?%>

 <% @contacts.each do |c|%>
  <ul>
    <li><%= c[:name]%> :  <%= c[:email]%> 
  </ul> 
  <% end %>
 
 <% end %>

<%= form_for Invitation.new do |f| %>

    <div class="col-xs-4">
    <%= f.label :recipient_email, "Email:" %>
    <%= f.text_field :recipient_email,:class=>"form-control" %>
    <%= f.submit 'Invite',:class=>"btn btn-primary" %></div>
 
<% end %>

<div class="col-xs-4">
Import Users
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload CSV File",:class => "button button-primary" %>
<% end %>
</div>


<div class="col-xs-4">
<%= form_for PasteUser.new do |f| %>

    <%= f.label :email, "Add List Of Contact Email:" %>
    <%= f.text_area :email %>
    <%= f.submit 'Paste Here',:class=>"btn btn-primary" %>

<% end %>
</div>





