<!-- <h4>Welcome to user dashboard<h4>

<% if !@contacts.nil?%>

 <% @contacts.each do |c|%>
  <ul>
    <li><%= c[:name]%> :  <%= c[:email]%> 
  </ul> 
  <% end %>
 
 <% end %>

 
   <% if !@contacts.nil?%>

 <% @contacts.each do |c|%>
  <ul>
    <li><%= c[:name]%> :  <%= c[:email]%> 
  </ul> 
  <% end %>
 
 <% end %>


<%= form_for Invitation.new do |f| %>

    <div class="col-xs-4">
    <%= f.label :recipient_email, "Email:" %>
    <%= f.text_field :recipient_email,:class=>"form-control" %>
    <%= f.submit 'Invite',:class=>"btn btn-primary" %></div>
 
<% end %>
 -->



















 
 <h4> My Mirror </h4>

 <div class="row row_margin">
  <a href="<%= new_rating_path %>">
 <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#1E90FF;padding: 10px;">           

    <h6><div> <span style="color:#FFFFFF;font-size:21px;"> Ratings </span></div></h6>
    </div>
  </div>
  <a>
    
    
  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background: #008B8B;padding: 10px;">            

     <h6 style="margin-bottom: 2px;margin-top: 2px;"><a href="#" style="color:#FFFFFF;font-size:19px;">Reputation Report  and Score</a></h6>

        </div> 
  </div>



   <a href="<%= new_ratingother_path %>">
  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#D2691E;padding: 10px;">           

   <h6><div><span style="color:#FFFFFF;font-size:21px;"> Give Feedback </span></div></h6>


        </div>
  </div>  
  <a>  
 
 </div>
 


 <div class="row row_margin">

   <a href="<%= relationships_path %>">
 <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#D2691E;padding: 10px;">    

  <h6><div> <span style="color:#FFFFFF;font-size:21px;"> Power Groups </span></div></h6> 
    </div>
  </div>
  <a>
    
    
     <a href="<%= new_tip_path %>">
  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#1E90FF;padding: 10px;"> 

    <h6><div> <span style="color:#FFFFFF;font-size:21px;"> Tips </span></div></h6>

        </div>
  </div>
  <a>



  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#008B8B;padding: 10px;">           

    <h6><a href="#" style="color:#FFFFFF; font-size:19px;">Participation stats </a></h6>

        </div>
  </div>    
 
 </div>


 <div class="row row_margin">
 <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#008B8B;padding: 10px;">           

    <h6><a href="#" style="color:#FFFFFF;font-size:19px;">Progress Journal </a></h6>

        </div>
  </div>
    

     <a href="<%= invite_paste_users_path %>">
  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#D2691E;padding: 10px; ">            

     <h6 style="margin-bottom: 2px;margin-top: 2px;"><div> <span style="color:#FFFFFF;font-size:21px;"> Invite Others or Get Feedback </span></div></h6>

        </div>
  </div>
  <a>



  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#008B8B;padding: 10px;">           

    <h6><a href="#" style="color:#FFFFFF;font-size:19px;">Notification </a></h6>

        </div>
  </div>   
 
 </div>
   
 
 
 

  
    
    </div>
    <!-- /.container -->
  