<%#= javascript_include_tag "jquery-1.9.1.js"%>
<div class="row row_margin">
   <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-primary" href="<%= home_learn_more_path%>">Get Started</a>
  </div>
   <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-primary" href="<%= home_learn_more_path%>">Learn More</a>
  </div>


  

  </div>


 <h4> What does Mirror 360 do? It saves feedback from you know.Only you can see it. </h4>

 <div class="row row_margin">
    <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-inverse" href=""> Those who know you through social networks or have your email can leave feedback even before you register
</a>
  </div>
 
<!-- <div class="col-xs-3" style="width: 20%;">

       <a href="" style="color:#FFFFFF;font-size:17px;">
        <div class="tile" style="background:#034;padding: 13px;">           

     Those who know you through social networks or have your email can leave feedback even before you register


        </div>
      </a> 
        </div>
 -->
 <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-inverse" href=""> Only you can access your feedback.You do so by joining Mirror 360 and vertifying your identity
</a>
  </div>
  
<!--  <div class="col-xs-3" style="width: 20%;">

       <a href="" style="color:#FFFFFF;font-size:17px;">
        <div class="tile" style="background:#034;padding: 14px;">           

     Only you can access your feedback.You do so by joining Mirror 360 and vertifying your identity


        </div>
      </a> 
        </div>
     -->
 <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-inverse" href="">Feedback can be ratings or tips(constructive comments).Viewing tips is optional.
</a>
  </div>
  <!--   <div class="col-xs-3" style="width: 20%;">
       <a href="" style="color:#FFFFFF;font-size:17px;">
        <div class="tile" style="background:#034;padding: 30px;">           

     Feedback can be ratings or tips(constructive comments).Viewing tips is optional.

        </div>
      </a> 


  </div>		 -->
 
 </div>
 
<h4>Why is Mirror 360 your Best choice for feedback and personal development?</h4>

 <div class="row row_margin">

    <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-power" href="">

            <h6>SIMPLE</h6>
           • Quick, painless</p>
           • Private</p>
           • Modeled after credit reports and scores</p>
           • Easy to interpret</p>
           • Get feedback from friends,coworkers,family,<br>classmates,etc
          </a>
  </div>
<!--  <div class="col-xs-3" style="width: 20%;">
         <a href="" style="color:#FFFFFF;font-size:17px;">
        <div class="tile" style="background:#D2691E;padding: 36px;">           

     <h6>SIMPLE</h6><p>
     • Quick, painless<p>
     • Private<p>
     • Modeled after credit reports and scores<p>
     • Easy to interpret<p>
     • Get feedback from friends,<br>coworkers,family,<br>classmates,etc

        </div>
      </a> 


        </div>
   -->
    
      <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-info" href="">

             <h6>USEFUL</h6></p>
      • Identify unseen hurdles to personal and professional success and happiness</p>
      • Boost your emotional intelligence and self-awareness</p>
      • Discover the real views of the select few who impact you the most</a>
  </div>
 
  <!-- <div class="col-xs-3" style="width: 20%;">
        <a href="" style="color:#FFFFFF;font-size:17px;">
        <div class="tile" style="background:#08D;padding: 17px;">           

     <h6>USEFUL</h6><p>
      • Identify unseen hurdles to personal and professional success and happiness<p>
      • Boost your emotional intelligence and self-awareness<p>
      • Discover the real views of the select few who impact you the most

        </div>
      </a>   
        </div>
   -->
  <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-primary" href="">
            <h6>INDEPENDENT</h6></p>
      • Purely a development tool</p>
      • A safe, optional space to honestly identify strengths and weaknesses</p>
      • Completely separated from compensation or</br> performance evaluation systems of any firm and beyond their control</a>
  </div>
<!--  <div class="col-xs-3" style="width: 20%;">
       <a href="" style="color:#FFFFFF;font-size:17px;">
        <div class="tile" style="background:#0BA;padding: 21px;">           

     <h6>INDEPENDENT</h6><p>
      • Purely a development tool<p>
      • A safe, optional space to honestly identify strengths and weaknesses<p>
      • Completely separated from compensation or performance evaluation systems of any firm and beyond their control
        </div>
      </a>          
 </div>
     -->

 </div>
 <h4>Pricing Plans</h4>

 <div class="row row_margin">
 <div class="col-xs-3" style="width: 20%;">
       <a href="" style="color:#FFFFFF;font-size:17px;">
        <div class="tile" style="background:#C0C0C0  ;padding: 48px;">           

     Free Forever
      
        </div>
      </a>          
 </div>
  
   <!--      <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-unheapful" href="">Free Forever
         </a>
       </div>
    
       <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-recommend" href=""> Recommended
         </a>
     </div> -->
  <div class="col-xs-3" style="width: 20%;">
        <a href="" style="color:#FFFFFF;font-size:17px;">
        <div class="tile" style="background:#FFA500;padding: 48px;">           

     Recommended

        </div>
      </a>
  </div>

  <div class="col-xs-3" style="width: 20%;">
    <a href="" style="color:#FFFFFF;font-size:17px;">
        <div class="tile" style="background:#C0C0C0;padding: 34px;">           

    Heavy Users or Business Users

    </div>

    </a>
  </div>  
<!--     <div class="col-xs-3">
          <a class="btn btn-blok btn-lg btn-unheapful" href=""> Heavy Users or Business Users
         </a>
     </div>  -->
<!--  <div class="col-xs-3" style="width: 7%;">
    <a href="#" style="color:#FFFFFF;font-size:19px;">
   <img src="/assets/misc_26.png">
</a>
  </div>  -->
<!--     <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-primary" href="">Sponsor at least 5 users so they qualify to a 60-day free trial of the Unlimited Plan</a>
  </div> -->
   <div class="col-xs-6" style="width: 20%;">
          <div class="tile" style="background:#0BA">
   <div><span style="color:#FFFFFF;font-size:17px;"> Sponsor at least 5 users so they qualify to a 60-day free trial of the Unlimited Plan</span></div>

          </div>
        </div>


 </div>
 <div class="row row_margin">
 <div class="col-xs-3" style="width: 20%;">
         <a href="" style="color:#FFFFFF;font-size:17px;">
        <div class="tile" style="background:#708090;padding: 19px;">           

     <h5>Personal</h5>
     <h4>Free</h4>
     9 tips/year<br>
     Reputation Report<br>
     Reputation Score<br>
     Power Group<br>
     7 Standard Factors<br>
        <div class="tile"  style="background:#D2691E;padding: 7px;"><%= link_to "Sign up", new_registration_path(resource_name) %></div>

       </div>
      </a> 
   </div>
<!--       <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-free" href=""> 
         <h5>Personal</h5>
         <h4>Free</h4>
         9 tips/year<br>
         Reputation Report<br>
         Reputation Score<br>
         Power Group<br>
         7 Standard Factors<br>

        </a>
         <a class="btn btn-block btn-lg btn-power" href="<%=  new_registration_path(resource_name)%>">Sign up</a>

  </div>
    
  <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-invite" href="">
          <h5>Pro</h5> 
         <h4>$1.99/mo<br></h4>
      (billed annually, or $4/mo)<br>
        
      24 tips/year<br>
      Reputation Report<br>
      Reputation Score<br>
      Power Group<br>
      7 Standard Factors<br>
      Sensitive access*<br>
      Circle Report, Score<br>

        </a>
        <a class="btn btn-block btn-lg btn-power" href="<%=  new_registration_path(resource_name)%>">Sign up</a>

  </div> -->
  <div class="col-xs-3" style="width: 20%;">
        <a href="" style="color:#FFFFFF;font-size:17px;">
        <div class="tile" style="background:#5B7;padding: 21px;">           

     <h5>Pro</h5>

     <h4>$1.99/mo<br></h4>
      (billed annually, or $4/mo)<br>
        
      24 tips/year<br>
      Reputation Report<br>
      Reputation Score<br>
      Power Group<br>
      7 Standard Factors<br>
      Sensitive access*<br>
      Circle Report, Score<br>
       <div class="tile" style="background:#D2691E;padding: 7px;"><%= link_to "Sign up", new_registration_path(resource_name) %></div>
        </div>
      </a>   
        </div>
<!--     <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-info" href="">
          <h5>Unlimited</h5>
     <h4>$3.33/mo<br></h4>
      (billed annually, or $5/mo)
        
      Unlimited tips<br>
      Reputation Report<br>
      Reputation Score<br>
      Power Group<br>
      7 Standard Factors<br>
      10 Custom Factors**<br>
      Competency Library<br>
      Prorated Sponsoring<br>
      Circle Report, Score<br>
            
        </a>
      
  
          <a class="btn btn-block btn-lg btn-power" href="<%=  new_registration_path(resource_name)%>">Sign up</a>
           </div> -->

 <!--  <%#= link_to "Sign up", new_registration_path(resource_name) %>

 
 -->
 <div class="col-xs-3" style="width: 20%;">
       <a href="" style="color:#FFFFFF;font-size:17px;">
        <div class="tile" style="background:#19C;padding: 17.5px;">           

     <h5>Unlimited</h5>
     <h4>$3.33/mo<br></h4>
      (billed annually, or $5/mo)
        
      Unlimited tips<br>
      Reputation Report<br>
      Reputation Score<br>
      Power Group<br>
      7 Standard Factors<br>
      10 Custom Factors**<br>
      Competency Library<br>
      Prorated Sponsoring<br>
      Circle Report, Score<br>
       <div class="tile" style="background:#D2691E;padding: 7px;"><%= link_to "Sign up", new_registration_path(resource_name) %></div>
        </div>

      </a>          
 </div>

 
<!--     <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-primary" href="">For each person who views their feedback  because of your inviting, you both get a free tip annually!</a>
<a class="btn btn-block btn-lg btn-primary" href="">Buy a 5-pack of extra tips any time for $10</a>

  </div> -->
 <div class="col-xs-6" style="width: 20%;">
          <div class="tile" style="background:#0BA">
   <div><span style="color:#FFFFFF;font-size:17px;">  For each person who views their feedback  because of your inviting, you both get a free tip annually!</span></div><br>

          </div>
          <div style="width: 100%;" class="col-xs-6">
          <br><div style="background:#0BA" class="tile">
    <div><span style="color:#FFFFFF;font-size:17px;"> Buy a 5-pack of extra tips any time for $10</span></div>
          </div>
        </div>
        </div>


</div> <br>

 </div>  
</div>
    