<h5>My Account</h5>


 <%= link_to 'Edit account', edit_user_registration_path,'data-no-turbolink' => true,:class=>"btn btn-info btn-large" %>&nbsp;&nbsp;

   <%= link_to 'Link/Unlink', users_path,:class=>"btn btn-primary" %> &nbsp;&nbsp;

  <%= link_to 'Pricing Plan', home_plan_path,:class=>"btn btn-warning btn-large" %></br></br>

   <%= link_to "M$ points",home_history_path,'data-no-turbolink' => true,:class=>"btn btn-warning btn-large" %>&nbsp;&nbsp;&nbsp;&nbsp;

  <%= link_to 'Billing History',home_history_path,'data-no-turbolink' => true,:class=>"btn btn-info btn-large" %> &nbsp;&nbsp;
 <% if invitation.present? %>
  <%= link_to "Sponser",new_sponser_path,'data-no-turbolink' => true,:class=>"btn btn-primary" %>
  <% else %>
  <%= link_to "Sponsee", new_sponsee_path,'data-no-turbolink' => true,:class=>"btn btn-primary"  %> 
 <% end %>
           
         