
   <h5>My Account</h5>

 <div class="row row_margin">
 
 
 <!-- <div class="col-xs-3" > -->
    <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-info" href="<%= edit_user_registration_path %>">Update Account</a>
  </div>
 
     <!--    <div class="tile" style="background:#1E90FF;padding: 10px;">           

    <h6><div><span style="color:#FFFFFF;font-size:21px;"> Update Account</span>
      </div></h6>
   </div> -->
<!--   </div> -->

		
 <!--    <a href="<%= users_path %>">
	<div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background: #008B8B;padding: 10px;">            
     <h6><div>
     <span style="color:#FFFFFF;font-size:21px;"> Link/Unlink</span></div></h6>
    </div>
  </div>
 </a> -->

   <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-primary" href="<%= users_path %>">Link/Unlink</a>
  </div>

    <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-power" href="<%= plans_path %>">Pricing Plan</a>
  </div>

<!--  <a href="<%= plans_path %>">

  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#D2691E;padding: 10px;">           


   <h6><div><span style="color:#FFFFFF;font-size:21px;"> Pricing Plan </span></div></h6>

   
        </div>
  </div>	
  <a>	 -->
 
 </div>
 


 <div class="row row_margin">
<!--    <a href="<%= home_history_path %>">

 <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#D2691E;padding: 10px;">    

    <h6><div><span style="color:#FFFFFF;font-size:21px;"> M$ Points</span></div></h6> 


        </div>
  </div>
  <a>
     -->

<!--   <a href="<%= home_history_path %>">
    
  <div class="col-xs-3" style="width: 20%;">
        <div class="tile" style="background:#1E90FF;padding: 10px;"> 

    <h6><div><span style="color:#FFFFFF;font-size:21px;"> Billing History</span></div></h6>

        </div>
  </div>
<a>
  -->


  <!-- <a href="<%= new_sponser_path %>"> -->


     <% if invitation.present? %>
       <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-primary" href="<%= new_sponser_path %>">Sponser</a>
  </div>
   <!--   <div class="col-xs-3" style="width: 20%;">
        <a href="/Sponser/new" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#D2691E;padding: 10px;">           

     <h6>Sponser</h6>

        </div>
      </a>
  </div> -->
     <% else %>
  <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-primary" href="<%= new_sponsee_path %>">Sponsee</a>
  </div>
<!--     <div class="col-xs-3" style="width: 20%;">
        <a href="/sponsees/new" style="color:#FFFFFF;font-size:19px;">
        <div class="tile" style="background:#D2691E;padding: 10px;">           

     <h6>Sponsee</h6>

        </div>
      </a>
  </div> -->
        <% end %>
  </div>
<!--   <a> -->

 </div>

   
 
