<%= form_for(@factor) do |f| %>
  <% if @factor.errors.any? %>
    <div id="error_explanation">
     
      <% @factor.errors.full_messages.each do |message| %>
        <p class="alert-box"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :custom_factor %>
  </div>
  <div class="field">
    <%= f.label :circle_id %><br>
    <%= f.collection_select :circle_id, Circle.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit "Save" ,:class => "btn btn-primary"%>
  </div>
<% end %>
