<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @factor.custom_factor %>
</p>

<p>
  <strong>Circle:</strong>
  <%= @factor.circle_id %>
</p>

<%= link_to 'Edit', edit_factor_path(@factor) %> |
<%= link_to 'Back', factors_path %>
