<%#= javascript_include_tag "progress"%>

 <%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      
      <% @raitng.errors.full_messages.each do |message| %>
        <p class="alert-box"><%= message %></p>
      <% end %>
    </div>
 <% end %>
  <span style="margin-left:px;">1</span>
<span style="margin-left:110px;">2</span>
<span style="margin-left:110px;">3</span>
<span style="margin-left:104px;">4</span>
<span style="margin-left:110px;">5</span>
<span style="margin-left:104px;">6</span>
<span style="margin-left:110px;">7</span>
<span style="margin-left:104px;">8</span>
<span style="margin-left:110px;">9</span>
<span style="margin-left:103px;">10</span>
<br>
<br>

  <%= f.label :overall_impresion %><br>
  <%= f.range_field :overall_impresions, :min=>1, :max=>10,:value => 2, :class=>"ui-slider", :id =>"slider" %></br>
   
   <%= f.label :trustworthy %><br>


  <%= f.range_field :trustworthy, :min=>1, :max=>10,:value => 1, :class=>"ui-slider", :id =>"slider" %></br>
 
    <%= f.label :kind_helpful,'Kind and Helpful' %><br>


    <%= f.range_field :kind_helpful, :min=>1, :max=>10,:value => 1,:class=>"ui-slider", :id=>"slider" %></br>


    <%= f.label :potential,'Has ability/Potential' %><br>

    <%= f.range_field :potential, :min=>1, :max=>10, :value => 1,:class=>"ui-slider", :id=>"slider" %></br>

    <%= f.label :performs_well %><br>


   <%= f.range_field :perform_well, :min=>1, :max=>10,:value => 1, :class=>"ui-slider", :id=>"slider" %></br>
 
      <%= f.label :presentable,'Persuasive and Presentable' %><br>

       <%= f.range_field :presentable, :min=>1, :max=>10, :value => 1,:class=>"ui-slider", :id=>"slider" %></br>


   <%= f.label :emotianally_Mature %><br>


   <%= f.range_field :emotianally_mature , :min=>1, :max=>10,:value => 1, :class=>"ui-slider", :id=>"slider" %></br>

   <%= f.label :friendly_and_social %><br>


 <%= f.range_field :friendly_social , :min=>1, :max=>10,:value => 1, :class=>"ui-slider", :id=>"slider" %></br>

    <%= f.hidden_field :user_id,:value => current_user.id %>
  
    <div style="padding: 10px;"><%= f.submit "Submit",:class=>"btn btn-primary" %></div>

<% end %>
