<style type="text/css">
.bar{

background: rgb(164,78,70); /* Old browsers */
background: -moz-linear-gradient(left, rgb(164,78,70) 0%, rgb(151,117,74) 48%, rgb(136,156,78) 58%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(164,78,70)), color-stop(48%,rgb(151,117,74)), color-stop(58%,rgb(136,156,78))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgb(164,78,70) 0%,rgb(151,117,74) 48%,rgb(136,156,78) 58%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgb(164,78,70) 0%,rgb(151,117,74) 48%,rgb(136,156,78) 58%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgb(164,78,70) 0%,rgb(151,117,74) 48%,rgb(136,156,78) 58%); /* IE10+ */
background: linear-gradient(to right, rgb(164,78,70) 0%,rgb(151,117,74) 48%,rgb(136,156,78) 58%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a44e46', endColorstr='#889c4e',GradientType=1 ); /* IE6-9 */
border-radius: 10px;
color: #fff;
font-size: 48px;
margin-bottom: 10px;
}

</style>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script>
// jQuery(document).ready(function(){
// 	jQuery(".test").hide();
// 	jQuery("#hide").hide();
//   jQuery("#hide").click(function(){
//     jQuery(".test").hide();
//     jQuery("#hide").hide();
//     jQuery("#show").show();
//   });
//   jQuery("#show").click(function(){
//     jQuery(".test").show();
//     jQuery("#hide").show();
//     jQuery("#show").hide();
//   });
// });
</script>


<h4>Reputation Score: </h4>
<% if @total_ratings >= 5 && !@total_score.nil? %>
 <% scores = ReputationScore.pluck(:score) %>
 <% count = 0 %>
 <% scores.each do |i|%>
  <% if i < @total_score %>
   <% count += 1 %>
  <% end %>
 <% end %>
<%= @total_score %> (better than <%= val =  ((count.to_f/scores.count)*100).round(2) %>%)
<div class="bar">
<span style="position:relative;left:<%= val %>%;"><%= @total_score %></span>
</div>

<!-- <button id="hide" class="btn btn-primary">Hide</button>
<button id="show" class="btn btn-primary">Display Bifurcation</button> -->
<!-- <div class="test">
<h4>Recency </h4>
Total users rated: <%#= @total_ratings%><br/>
Users rated in 6 months: <%= @recent_ratings %></br>
Points: <%= @percent %>

<h4>History</h4>
Total Relationship: <%#= @total_relations%><br/>
2 years relationship: <%#= @long_relations %></br>
Points: <%= @percent_history %>

<h4>Rating Quality</h4>
<%#= @weighted_rating.sum/@total_ratings%>

<h4>Diversity</h4>
Total Raters: <%#= @total_ratings %><br/>
Points: <%#= @diversity_points %>
<br/>
</div> -->
What factors raise your Reputation Score?<br/>
<% symbols = [] %>
<% data =  @h.sort{|a,b| a[1] <=> b[1]}.last(2).flatten %>
<% data_low =  @h.sort{|a,b| a[1] <=> b[1]}.first(2).flatten %>
<% symbols_low = data_low.reject {|i| i.class == Float} %>
<% symbols = data.reject {|i| i.class == Float} %>
<%= ScoreFactor.find_by_name_and_factor_type(symbols[0].to_s,"raise").name.camelize rescue nil %> <%= ScoreFactor.find_by_name_and_factor_type(symbols[0].to_s,"raise").description rescue nil %><br/>
<%= ScoreFactor.find_by_name_and_factor_type(symbols[1].to_s,"raise").name.camelize rescue nil%> <%= ScoreFactor.find_by_name_and_factor_type(symbols[1].to_s,"raise").description rescue nil %><br/>
What factors lowering your Reputation Score?<br/>
<%= ScoreFactor.find_by_name_and_factor_type(symbols_low[0].to_s,"low").name.camelize rescue nil %> <%= ScoreFactor.find_by_name_and_factor_type(symbols_low[0].to_s,"low").description rescue nil %><br/>
<%= ScoreFactor.find_by_name_and_factor_type(symbols_low[1].to_s,"low").name.camelize rescue nil%> <%= ScoreFactor.find_by_name_and_factor_type(symbols_low[1].to_s,"low").description rescue nil %><br/>
<% else %>
<p>Give Feedback and get feedback to atleast 5 person to see your reputation score</p>
<% end %>