<%= javascript_include_tag "/assets/jquery.js" %>
<%= javascript_include_tag "highcharts.js", "exporting.js" %>
<h5>Rate yourself</h5>

<div id="container1" style="min-width: 310px; max-width: 800px; height: 460px; margin: 0 auto"></div>

<div id="container" style="min-width: 310px; max-width: 800px; height: 550px; margin: 0 auto"></div>
<%= render 'form' %>
<script type='text/javascript'>//<![CDATA[ 
jQuery.noConflict();
jQuery(function () {
        jQuery('#container').highcharts({
            colors: ['#90ED7D', '#7CB5EC', '#000'],
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Ratings Comparison'
            },
            exporting: {
                buttons: {
                    contextButtons: {
                        enabled: false,
                        menuItems: null
                    }
                },
                enabled: false
            },
            
            xAxis: {
                categories: ['Overall Impression', 'Trustworthy', 'Kind and Helpful', 'Has Ability/Potential', 'Performs Well','Persuasive and Presentable', 'Emotionally Mature','Friendly and Social'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Ratings',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' Ratings'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor || '#FFFFFF'),
                shadow: true
            },  
            credits: {
                enabled: false
            },
            series: [{
                name: 'Self Image',
                data: [<%= raw number_with_precision(@b[0] , :precision => 1) %>, <%=raw number_with_precision(@b[1] , :precision => 1)%>, <%=raw number_with_precision(@b[2] , :precision => 1)%>, <%=raw number_with_precision(@b[3] , :precision => 1)%>, <%=raw number_with_precision(@b[4] , :precision => 1)%>, <%=raw number_with_precision(@b[5] , :precision => 1)%>, <%=raw number_with_precision(@b[6] , :precision => 1)%>, <%=raw number_with_precision(@b[7] , :precision => 1)%>]
            }, {
                name: 'All Mirrors',
                data: [<%= raw number_with_precision(@a[0] , :precision => 1) %>, <%= raw number_with_precision(@a[1] , :precision => 1) %>, <%= raw number_with_precision(@a[2] , :precision => 1) %>, <%= raw number_with_precision(@a[3] , :precision => 1) %>,<%= raw number_with_precision(@a[4] , :precision => 1) %>, <%= raw number_with_precision(@a[5] , :precision => 1) %>, <%= raw number_with_precision(@a[6] , :precision => 1) %>, <%= raw number_with_precision(@a[7] , :precision => 1) %>]
            }, {
                name: 'Power Mirrors',
                data: [<%= raw number_with_precision(@d[0] , :precision => 1) %>, <%= raw number_with_precision(@d[1] , :precision => 1) %>, <%= raw number_with_precision(@d[2] , :precision => 1) %>, <%= raw number_with_precision(@d[3] , :precision => 1) %>,<%= raw number_with_precision(@d[4] , :precision => 1) %>, <%= raw number_with_precision(@d[5] , :precision => 1) %>, <%= raw number_with_precision(@d[6] , :precision => 1) %>, <%= raw number_with_precision(@d[7] , :precision => 1) %>]
            }]
        });

        
        jQuery('#container1').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Your Ratings from all Mirrors'
            },

            exporting: {
                buttons: {
                    contextButtons: {
                        enabled: false,
                        menuItems: null
                    }
                },
                enabled: false
            },
            
            xAxis: {
                categories: ['Overall Impression', 'Trustworthy', 'Kind and Helpful', 'Has Ability/Potential', 'Performs Well','Persuasive and Presentable', 'Emotionally Mature','Friendly and Social'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Ratings',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' Ratings'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor || '#FFFFFF'),
                shadow: true
            },  
            credits: {
                enabled: false
            },
            series: [{
                name: 'All Mirrors',
                data: [<%= raw number_with_precision(@q , :precision => 1) %>, <%= raw number_with_precision(@w[1] , :precision => 1) %>, <%= raw number_with_precision(@w[2] , :precision => 1) %>, <%= raw number_with_precision(@w[3] , :precision => 1) %>,<%= raw number_with_precision(@w[4] , :precision => 1) %>, <%= raw number_with_precision(@w[5] , :precision => 1) %>, <%= raw number_with_precision(@w[6] , :precision => 1) %>, <%= raw number_with_precision(@w[7] , :precision => 1) %>]
            }]
        });
    });
    

//]]>  

</script>