<%= link_to 'New Page', new_page_path,:class=>"btn btn-primary" %>
<br/><br/>
<div class="row">
<div class="col-xs-12">
<table class="table table-bordered">
 
 <tr>
    <th>Title</th>
     <th>Body</th>
     <th>Image</th>
      <th>Status</th>
      <th colspan=2>Actions</td>
  </tr>

<% @pages.each do |page| %>

  <tr>
    <td><%= page.title %></td>
    <td><%= page.body.html_safe %></td>
    <td><%= image_tag page.photo.url, :width => "165", :height=>"100" %></td>
    <td><%= link_to format_boolean(page.status?), {:controller => 'pages', :action => 'status', :id => page.id} %></td>
    <td style="text-align: center !important;"><%= link_to 'Edit', edit_page_path(page) %></td>
    </td>
  </tr>
<% end %>

</table>
</div>
</div>

