<h2> Page</h2>
<div class="col-xs-4">
<%= form_for @page,:html => { :multipart => true } do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this car model from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<p>
    <%= f.label :title %>
    <%= f.text_field :title, :class=>"form-control" %>
   </p>
 
  <p>
    <%= f.label :body %>

    <%= f.text_area :body,:class=>"form-control11" %>

  </p>

  <p>
    <%= f.file_field :photo %>
  </p>
   
  
   <div class="actions">
    <%= f.submit "Submit",:class=>"btn btn-primary"  %>
  </div>


<% end %>
</div>