
<%#= javascript_include_tag "jquery-1.5.2.min","jquery.validate.min","validation.js" %> 

<h2> Page</h2>

<%= form_for @page,:html => { :multipart => true,:id =>"new_page" } do |f| %>

  <% if @page.errors.any? %>
    <div id="error_explanation">
     <%= pluralize(@page.errors.count, "error") %> prohibited this car model from being saved:

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :title %>
    <%= f.text_field :title, :class=>"form-control",:style=>"width:300px;" %>


    <%= f.label :body %>

    <%= f.cktext_area :body %>


    <%= f.label :Uploadphoto %>

    <%= f.file_field :photo %>

   
  
   <div class="actions">
    <%= f.submit "Submit",:class=>"btn btn-primary"  %>
  </div>


<% end %>
