<%= form_for(@invitation) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:

      <ul>
      <% @invitation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :sender_id %><br>
    <%= f.number_field :sender_id %>
  </div> 
  <div class="field">
    <%= f.label :recipient_email %><br>
    <%= f.text_field :recipient_email %>
   <div class="field">
    <%= f.label :token %><br>
    <%= f.text_field :token %>
  </div>
  <div class="field">
    <%= f.label :sent_at %><br>
    <%= f.datetime_select :sent_at %>
  </div>
  <div class="field">
    <%= f.label :new %><br>
    <%= f.text_field :new %>
  </div> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
