<h1>Listing sponsercfs</h1>

<table>
  <thead>
    <tr>
      <th>Sponser</th>
      <th>User</th>
      <th>Name</th>
      <th>Custom factor string</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsercfs.each do |sponsercf| %>
      <tr>
        <td><%= sponsercf.sponser_id %></td>
        <td><%= sponsercf.user_id %></td>
        <td><%= sponsercf.name %></td>
        <td><%= sponsercf.custom_factor_string %></td>
        <td><%= sponsercf.email %></td>
        <td><%= link_to 'Show', sponsercf %></td>
        <td><%= link_to 'Edit', edit_sponsercf_path(sponsercf) %></td>
        <td><%= link_to 'Destroy', sponsercf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sponsercf', new_sponsercf_path %>
