<%= form_for(@sponser) do |f| %>
  <% if @sponser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponser.errors.count, "error") %> prohibited this sponser from being saved:</h2>

      <ul>
      <% @sponser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= f.label :name, "Circle:" %>
    <%= f.collection_select :name, Circle.all, :name, :name %></br>
  <%= f.hidden_field :user_id,:value => current_user.id %>
  <%= f.fields_for :sponsercfs do |builder| %>
  <%= render  "sponsercf_fields", :f => builder %>
  <% end %>
 <%= link_to_add_fields "Add More Custom Factors",f,:sponsercfs %></br>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
