<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      
      <% @subscription.errors.full_messages.each do |message| %>
        <p class="alert-box"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <%= f.hidden_field :plan_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :paypal_customer_token %>
  <%= f.hidden_field :paypal_payment_token %>
  <%= f.hidden_field :token %>
  <%= f.hidden_field :paypal_recurring_profile_token %>
  <%= f.hidden_field :price %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

 
  <div class="actions">
      <%= f.submit "Subscribe", :class=>"btn btn-primary" %>
    </div>
<% end %>
