<%= form_for(@trial_day) do |f| %>
  <% if @trial_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trial_day.errors.count, "error") %> prohibited this trial_day from being saved:</h2>

      <ul>
      <% @trial_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :days %><br>
    <%= f.number_field :days %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
