<%= form_for Feedback.new do |f| %>
<!-- 
             <div class="control-group">
                <label for="inputName" class="control-label">Name</label>
                <div class="controls">
                  <%= f.text_field :name,:placeholder=>"Name", :id=>"inputName",:class=>"form-control"%>
              </div>
              </div>
              <div class="control-group">
                <label for="inputEmail" class="control-label">Email</label>
                <div class="controls">
                  <%= f.text_field :email,:placeholder=>"Email", :id=>"inputEmail",:class=>"form-control", :email => true, :required => true %>
                </div>
              </div>
 -->

<div class="control-group">
  <label for="inputDescription" class="control-label">Feedback</label>
  <div class="controls" >
    <%= f.text_area :description,:placeholder => "Description", :id=>"inputDescription",:class=>"form-control11", :required => true, :maxlength => 2000  %>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.submit "Submit",:class=>"btn btn-primary" %>
    <!-- <button class="btn" type="submit">Submit</button> -->
    
  </div>
</div>
<% end %>

<script type="text/javascript">
  
  
</script>