
<%= javascript_include_tag "jquery-1.5.2.min","jquery.validate.min","validation.js" %>
<%= form_for @feedback ,:html => {:id =>"feedback"} do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
     <%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:

      <ul>
      <% @feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
