<%= link_to 'New Organization', new_organization_path,:class=>"btn btn-primary" %>
<br/><br/>
<div class="row">
<div class="col-xs-12">
<table class="table table-bordered">
 
 <tr>
    <th>Title</th>
     <th>Body</th>
     <th>Image</th>
      <th>Status</th>
      <th colspan=2>Actions</td>
  </tr>

<% @organizations.each do |organization| %>

  <tr>
    <td><%= organization.title %></td>
    <td><%= organization.body.html_safe %></td>
    <td><%= image_tag organization.img.url, :width => "165", :height=>"100" %></td>
    <td><%= link_to format_boolean(organization.status?), {:controller => 'organizations', :action => 'status', :id => organization.id} %></td>
    <td style="text-align: center !important;"><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td style="text-align: center !important;"><%= link_to 'Destroy',organization_path(organization) ,:method => :delete , :data=>{ :confirm=>'Are you sure?' } %>
    </td>
  </tr>
<% end %>

</table>
</div>
</div>

