<h4>Start a 60-Day FREE trial</h4><br>
<%= form_for @organization,:html => { :multipart => true } do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">

      <% @organization.errors.full_messages.each do |msg| %>
        <p class="alert-box"><%= message %></p>
      <% end %>
    </div>
  <% end %>

    <br><%= f.label :title,"Team/Organization Name" %>
    <%= f.text_field :title, :class=>"form-control",:style=>"width:300px;" %><br><br>


    <%#= f.label :body %>

    <%#= f.cktext_area :body %>


    <%#= f.label :Uploadphoto %>

    <%#= f.file_field :img %>

        <%= f.label :title %>
        <%= f.select :title, Organization::HOW_HEARD_OPTIONS, 
                     prompt: "Choose Industry" %><br><br>

        <%= f.label :title %>
        <%= f.select :title, Organization::Organization_size, 
                     prompt: "Choose" %><br><br>
    


    <b>Invite at least 5 members of your team or organization. If they join and access their<br> Reputation Report, they qualify for a FREE trial for 60 days to Pro or Unlimited that<br> begins when they join Mirror 360. List their email addresses, one on each line.</br>
        <br><br>
        <textarea maxlength="550" name="suggestions" id="suggestions" style="width: 750px;  height: 100px;"></textarea><br>

   
  
   <div class="actions">
   <%= link_to "Upload List",'#',:class=>"btn btn-primary" %>
    <%= f.submit "Submit",:class=>"btn btn-primary"  %>
  </div>


<% end %>
