<%= form_for(@paste_user) do |f| %>
  <% if @paste_user.errors.any? %>
    <div id="error_explanation">
     <%= pluralize(@paste_user.errors.count, "error") %> prohibited this paste_user from being saved:

      <ul>
      <% @paste_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id,:value => current_user.id %>



  <%= f.fields_for :user_invitations do |builder| %>
  <%= render  "user_invitation_fields", :f => builder %>
  <% end %>

      <%= link_to_add_fields "Add User Invitation",f,:user_invitations%>
  <div class="actions">
    <%= f.submit "Send Invite" %>
  </div>
<% end %>
