<a href="/contacts/gmail" class="btn btn-secondary">Gmail Contacts</a> <br/>
<a href="/contacts/facebook" class="btn btn-secondary ">Facebook Contacts</a>



<div class="col-xs-4">
<h4>Import Users</h4>
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload CSV File",:class => "btn btn-primary" %>
<% end %>
</div>







<h6> List of Import Users</h6>
<div class="row">
<div class="col-xs-4">
<table class="table table-bordered">
 
 <tr>
    <th>Sr no.</th>
    <th>Email</th>
 </tr>

<% @contacts.each_with_index do |contact,index| %>

  <tr>
    <td> <%= index+1 %> </td>
    <td> <%= contact.email %></td>
  </tr>
<% end %>

</table>
</div>
</div>



