<%= javascript_include_tag "jquery.js"%>
 <style type="text/css">
   .sidebar {
    border: 1px solid #ddd;
    box-sizing: border-box;
    float: right;
    height: 132px;
    margin-right: 196px;
    margin-top: -173px;
    padding: 18px;
    width: 405px;
}
 </style>

 <style type="text/css">
   .side {
    float: right;
    height: 132px;
    margin-right: 196px;
    margin-top: -302px;
    padding: 18px;
    width: 405px;
}
 </style>



 <h4> My Mirror </h4><br><br>

 <div class="row row_margin">

   <div class="col-xs-3">
          <a data-no-turbolink='true' class="btn btn-block btn-lg btn-primary" href="/reputation_report">Reputation Report </a>


  </div>


<!-- <div class="col-xs-3" style="width: 20%;">

<a href="#" style="color:#FFFFFF;font-size:19px;">
<div class="tile" style="background:#2E8B57 ;padding: 3px;">

<h6>Reputation Report and Score</h6>


</div>
</a>
</div> -->
    
  <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-primary" href="/tips/tips"> Your Tips</a>
  </div>

 
 </div>
 


 <div class="row row_margin">
     <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-info" href="/relationships/power_group">Power Groups</a>
  </div>
<!-- <div class="col-xs-3" style="width: 20%;">
<a href="/relationships/power_group" style="color:#FFFFFF;font-size:19px;">
<div class="tile" style="background:#D2691E;padding: 21px;">

<h6>Power Groups</h6>

</div>
</a>


</div> -->
  
    
  <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-info" href="<%= helpful_tips_tips_path%>">Vote on Tips</a>
  </div>

 </div>


 <div class="row row_margin">
<!-- <div class="col-xs-3" style="width: 20%;">
<a href="#" style="color:#FFFFFF;font-size:19px;">
<div class="tile" style="background: #2E8B57 ;padding: 12px;">

<h6>Progress Journal</h6>

</div>
</a>
</div> -->
  
<!-- <div class="col-xs-3" style="width: 20%;">
<a href="/tips/tip" style="color:#FFFFFF;font-size:19px;">
<div class="tile" style="background:#D2691E;padding: 16px;">

<h6>Give Feedback</h6>

</div>
</a>


</div> -->
  <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-power" href="/paste_users/invite">Invite</a>
  </div>
    
<!-- <div class="col-xs-3" style="width: 20%;">
<a href="/paste_users/invite" style="color:#FFFFFF;font-size:19px;">
<div class="tile" style="background:#D2691E;padding: 1px;">

<h6>Invite Others or Get Feedback</h6>

</div>
</a>
</div> -->

       <div class="col-xs-3">
          <a class="btn btn-block btn-lg btn-power" href="/tips/tip">Give Feedback</a>
  </div>

<!-- <div class="col-xs-3" style="width: 20%;">
<a href="#" style="color:#FFFFFF;font-size:19px;">
<div class="tile" style="background:#1E90FF;padding: 14px;">

<h6>Notification</h6>

</div>
</a>
</div> -->
 
 </div>

 
   
</div>
<%if @status_check.give_feedback == false || @status_check.give_rating == false || @status_check.self_image == false || @status_check.vote_on_tips == false || @status_check.invite_others == false %>
  <div class="side">
    <span>
      <p style="font-size:19px;">
        <% if  @status_check.give_feedback == false %>
         Back to <%= link_to  "complete Process", indiv2_individuals_path %>
        <%elsif @status_check.give_rating == false %>
         Back to <%= link_to  "complete Process", indiv4_individuals_path(:email => @status_check.track_last_email) %>
        <%elsif @status_check.self_image == false %>
            Back to <%= link_to "complete Process", indiv5_individuals_path %>
        <%elsif @status_check.vote_on_tips == false %>
           Back to <%= link_to  "complete Process", indiv3_individuals_path %>
        <%elsif @status_check.invite_others == false %>
           Back to <%= link_to  "complete Process", indiv6_individuals_path %>
        <%else%>
           Back to <%= link_to  "complete Process", my_mirror_paste_users_path %>
        <%end%>
      </p>
    </span>
  </div>
<%else%>
 <%if @access_reputation_tip.got_feedback >= 6 %>
 <div class="sidebar">
  <span>
    <% if @access_reputation_tip.give_feedback <= 10 && @access_reputation_tip.vote_on_tips <= 25 && @access_reputation_tip.invite_other <= 3 %>
    <p style="font-size:12px;">
     To access your Reputation Report and eligible Tips  your community participation needed now is:<br/>

     Give feedback:  10 tips<br/>

     Vote on tips:   25 votes on others people's tips <br/>

     Invite Others:  3 invites (general or for feedback) <br/>
    </p>
    <%end%>

  </span>

 </div>
 <%end%>
<%end%>