<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @paste_user.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @paste_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @paste_user.email %>
</p>

<%= link_to 'Edit', edit_paste_user_path(@paste_user) %>  -->
<%= link_to 'Back', paste_users_path %>
