 <!-- 
 <% if current_user.is_admin == true %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Email</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.user_id %></td>
        <td><%= plan.name %></td>
        <td><%= plan.email %></td>
        <td><%= plan.description %></td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_plan_path %>
<% end %>

 -->



<% if current_user.is_admin == true %>
<table class="table table-bordered table-striped table-highlight">
  <thead>
  <tr>
  <th>Plan Name</th>
  <th>Price</th>
  <th>Description</th>

  </tr>
  </thead>
  <tbody>
  <% @plans.each do |plan| %>
  <tr>
  <td><%= plan.name %></td>
  <td><%= plan.price %></td>
  <td><%= plan.description %></td>
  <td><%= link_to 'Show', plan %></td>
  <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
  <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 <% end %>
 </tr>
</tbody>
</table>
<%= link_to 'New Plan', new_plan_path %>
<% end %>


<% if current_user.is_admin == false %>

<h8>Only <%= @plan_expiry %> days left for your trial plan to expire. You can upgrade at any time.</h8></br>
<table class="table table-bordered table-striped table-highlight">
  <thead>
  <tr>
  <th>Plan Name</th>
  <th>Price</th>
  <th>Description</th>

  </tr>
  </thead>
  <tbody>
  <% @plans.each do |plan| %>
  <% if @subscription.nil? %>
  <tr>
  <td><%= plan.name %></td>
  <td><%= plan.price %></td>
  <td><%= plan.description %></td>
  <% @subscription = plan.subscriptions.build %>
  <td><%= link_to image_tag("/assets/paypal.png"),paypal_checkout_path(plan_id: @subscription.plan_id) %></td></tr>
 <% else %>
  
  <tr>
  <td><%= plan.name %></td>
  <td><%= plan.price %></td>
  <td><%= plan.description %></td>
  <% subscription = plan.subscriptions.build %>
  <% if @subscription.plan_id == plan.id%>
  <td><a class="button button-small" href="#"> <span>Current Plan</span> </a></td>
  <% else %>
  <td><%= link_to image_tag("/assets/paypal.png"),paypal_checkout_path(plan_id: @subscription.plan_id) %>
  <% end %>
  <% end %>
  </td>


  <% end %>
 </tr>
</tbody>
</table>


<% end %>


 <!-- <%= link_to "Back", dashboard_index_path%> -->

