

<% if current_user.is_admin == true %>
<table class="table table-bordered table-striped table-highlight">
  <thead>
  <tr>
  <th>Plan Name</th>
  <th>Price</th>
  <th>Description</th>

  </tr>
  </thead>
  <tbody>
  <% @plans.each do |plan| %>
  <tr>
  <td><%= plan.name %></td>
  <td><%= plan.price %></td>
  <td><%= plan.description %></td>
  <td><%= link_to 'Show', plan %></td>
  <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
  <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 <% end %>
 </tr>
</tbody>
</table>
<%= link_to 'New Plan', new_plan_path %>
<% end %>

<% if current_user.is_admin == false %>

  <title>Plans - CodePen</title>
<%= stylesheet_link_tag "style.css"%>
</head>

<body>
<h8>Only <%= @plan_expiry %> days left for your trial plan to expire. You can upgrade at any time.</h8></br>
  <section class="layer plans">

  <section>
  <% @plans.each do |plan| %>
  <% if @subscription.nil? %>

    <section class="third lift plan-tier" onclick="location.href='#';">

      <h4><%= plan.name %></h4>
      <h5><sup class="superscript">$</sup><span class="plan-price"><%= plan.price %></span><sub> /mo</sub></h5>
   

      <ul>
      <li><%= plan.description %></li>
     
      </ul>
      <% @subscription = plan.subscriptions.build %>
      <%= link_to image_tag("/assets/paypal.png"),paypal_checkout_path(plan_id: plan.id) %>
      </section>

      <% elsif Plan.find_by_name("Personal") and (@subscription.plan_id == plan.id) %>

    <section class="third lift plan-tier" onclick="location.href='#';">
  
      <h4><%= plan.name %></h4>
      <h5><span class="plan-price">Free</span></h5>

      <ul>
      <li> <%= plan.description %></li>
     
      </ul>
      <% subscription = plan.subscriptions.build %>
        <% if @subscription.plan_id == plan.id%>
        <div class="tile" style="background:#FFFFFF;padding: 23px;" ><span>Current Plan</span> </div>
        <% else %>
        <%= link_to image_tag("/assets/paypal.png"),paypal_checkout_path(plan_id: plan.id) %>
        <% end %>
         
    </section>

 <% else %>



    <section class="third lift plan-tier" onclick="location.href='#';">
  
      <h4><%= plan.name %></h4>
      <h5><sup class="superscript">$</sup><span class="plan-price"><%= plan.price %></span><sub> /mo</sub></h5>

      <ul>
      <li> <%= plan.description %></li>
     
      </ul>
      <% subscription = plan.subscriptions.build %>
        <% if @subscription.plan_id == plan.id%>
        <div class="tile" style="background:#FFFFFF;padding: 23px;" ><span>Current Plan</span> </div>
        <% else %>
        <%= link_to image_tag("/assets/paypal.png"),paypal_checkout_path(plan_id: plan.id) %>
        <% end %>
         
    </section>
   
    <% end %>
     <% end %>
  </section>
</section>
  <%end%>



