<%= form_for(@tip) do |f| %>
  <% if @tip.errors.any? %>
    <div id="error_explanation">

      
      <% @tip.errors.full_messages.each do |message| %>
        <p class="alert-box"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <% if params[:email]%>
    <%= f.hidden_field :email,:value => params[:email] %>
    <%= f.hidden_field :relationship_id,:value => params[:relationship_id] %>
    <%= f.hidden_field :rating, :value => "true"%>
  <%end%>

  <div class="field">
    <%= f.label :praise %><br>
    <%= f.text_field :praise,:class=>"form-control11" %>
  </div>

  <div class="field">
    <%= f.label :criticism %><br>
    <%= f.text_field :criticism,:class=>"form-control11" %>
  </div>

  <div class="field">
    <%= f.label :general %><br>
    <%= f.text_field :helpful,:class=>"form-control11"%>
  </div>

  <% unless user_signed_in? %>
   <% else %>
    <%= f.hidden_field :user_id,:value => current_user.id %>
   <% end %>

  <div class="actions">
    <%= f.submit "Save" ,:class => "btn btn-primary"%></div>
    
<% end %>


