 <h5>Helpful Tips</h5>
<!--   
<table class="table table-bordered"> 
    
    
  
   <% @tips.each do |tip| %>
      <tr>
      <% if tip.user_id != current_user.id %> 

        <td><%= tip.praise rescue nil%></td>
          <td> <%= link_to 'Respond', respond_tips_tips_path  %> </td>
         <% end %>
      </tr>
    <% end %>
 
</table>
 -->



 <!-- 
 <table class="table table-bordered"> 
    <tr>
       
    </tr>
  
   <% advice.each_with_index do |tip,index| %>
    <% if tip.email == current_user.email && tip.user_id != current_user.id %>
      <tr>
      
        <td><%= index+1%></td> 
         <td><%= tip.criticism rescue nil%></td>
         <% response.each do |response| %>
           <% if tip.id == response.tip_id %>
         <td><%= response.response_for_tip %></td></br>
         <% end %>
         <% end %>
          <td> <%= link_to 'Respond', new_response_tip_path(:id => tip.id)  %> </td> 
      </tr>
      <% end %>
    <% end %>
 
</table>
 -->






	<% advice.each do |tip| %>
	<% if tip.email == current_user.email && tip.user_id != current_user.id %>
	<%= tip.helpful rescue nil%>
	<%= link_to 'Respond', new_response_tip_path(:id => tip.id)  %></br>
	<% response.each do |response| %>
	<% if tip.id == response.tip_id %>
	Response -  <%= response.response_for_tip %></br></br>
	<% end %>
	<% end %>
	<% end %>
	<% end %>

