<h5>Helpful Tips</h5>

<%  if @ww.present?%>

	<%= form_tag url_for(:controller => 'tips', :action => 'tips_response'), :method => 'post', 
	    :onsubmit => "return validateForm()"  do |f| %>
	   
		<b>Praise</b> :
		<%= @ww.praise rescue nil%><br>
		<b>Criticism</b> :
		<%= @ww.criticism rescue nil%><br>
		<b>General</b> :
		<%= @ww.helpful rescue nil%><br>
		<%= hidden_field_tag :id, @ww.id rescue nil%>
		Appropriate Comment? &nbsp;<%= radio_button_tag :response, 'true' %> &nbsp;Yes&nbsp;&nbsp;<%= radio_button_tag :response, 'false' %> &nbsp;No 
		<br><br>
      <b>Your Suggestions to this person on how to improve the review comments:</b>
      <br>
      <textarea maxlength="550" name="suggestions" id="suggestions" style="width: 750px;  height: 100px;"></textarea>

      <br>
      <b>Overall Quality of Comments:</b>
      <br>
      <%= radio_button_tag :quality_of_comments, '1' %>&nbsp;&nbsp;1&nbsp;&nbsp;<%= radio_button_tag :quality_of_comments, '2' %>&nbsp;&nbsp;2&nbsp;&nbsp;<%= radio_button_tag :quality_of_comments, '3' %>&nbsp;&nbsp;3&nbsp;&nbsp;<%= radio_button_tag :quality_of_comments, '4' %>&nbsp;&nbsp;4&nbsp;&nbsp;<%= radio_button_tag :quality_of_comments, '5' %>&nbsp;5
      <br><br>
		<%= submit_tag :submit %>
		<br><br>
	<%end%>
<%end%>

	
<script type="text/javascript">
  function validateForm()
    {
    	
	  	var a = document.getElementById('response_true').checked
	
	  	var b = document.getElementById('response_false').checked

	  	if(a == false && b == false)
		  	{
		  		alert("Please check atleast one option.");
		  		return false;
		  	}
    };
</script>
