<style type="text/css">
    .u31 {
	    color: #a9a9a9;
	    font-family: 'Calibri';
	    font-style: normal;
	    font-weight: 400;
    }
</style>


<h5>Sensitive tips</h5>

The tips below were thought to be inappropriate in tone or unhelpful by at least 2 out of 3 randomly chosen checkers not in your city or circles. <br/><br/>


<div class="u31">
	For some tips (if the person had logged in when they left their tip), you have the option to ask a follow-up question by clicking "Respond" <br/>

	CAUTION: While you should be open to feedback, do not take criticisms to heart. These comments are subjective comments by others who may or may not have the facts, and may not know you well, or what kind of a person you really are.  They were tagged as unhelpful or inappropriate.
</div><br/>


<%unless @praise.nil?%>
	<% @praise.flatten.each do |praise|%>
	    <div style="font-family: 'Calibri Bold','Calibri';font-weight: 700;"> 
	    "<%= praise.praise_comment rescue nil%>"&nbsp;&nbsp;
       
            <% @response = Response.where('praise_id = ?', praise.id)%>
	        <%if praise.provider_user_id.present?%>
				<% @user = User.where('email = ?', praise.email).select(:id,:email)%>
				<%if @user.first.email == current_user.email%>
				  <%unless @response.present?%>
				   <%= link_to "Response", respond_to_tip_path(:praise_id => praise.id)%>
				  <%end%>
				<%else%>
				  <% unless @reaction.present?%>
				    <%= link_to "Reaction"%><br/><br/>
				  <%end%>
				<%end%>
		    <%end%>
	    </div>	

		
		<%if @response.present?%>
			<% @response.flatten.each do |res|%>
			   <% @reaction = Reaction.where('response_id = ?',res.id)%>
			   Response - "<%= res.response_comment rescue nil%>" <br/><br/>
               <%if @reaction.present?%>
                  Reaction - "<%= @reaction.first.reaction_comment rescue nil %>"<br/>
               <%end%>
			<%end%>
        <%end%>
	<%end%>
<%end%>


<%unless @criticism.nil?%>
	<% @criticism.flatten.each do |criticism|%>
	    <div style="font-family: 'Calibri Bold','Calibri';font-weight: 700;"> 
	    "<%= criticism.criticism_comment rescue nil%>"&nbsp;&nbsp;
       
            <% @response = Response.where('criticism_id = ?', criticism.id)%>
	        <%if criticism.provider_user_id.present?%>
				<% @user = User.where('email = ?', criticism.email).select(:id,:email)%>
				<%if @user.first.email == current_user.email%>
				  <%unless @response.present?%>
				   <%= link_to "Response", respond_to_tip_path(:criticism_id => criticism.id)%>
				  <%end%>
				<%else%>
				  <% unless @reaction.present?%>
				    <%= link_to "Reaction"%><br/><br/>
				  <%end%>
				<%end%>
		    <%end%>
	    </div>	

		
		<%if @response.present?%>
			<% @response.flatten.each do |res|%>
			   <% @reaction = Reaction.where('response_id = ?',res.id)%>
			   Response - "<%= res.response_comment rescue nil%>" <br/><br/>
               <%if @reaction.present?%>
                  Reaction - "<%= @reaction.first.reaction_comment rescue nil %>"<br/>
               <%end%>
			<%end%>
        <%end%>
	<%end%>
<%end%>

<%unless @general.nil?%>
	<% @general.flatten.each do |general|%>
	    <div style="font-family: 'Calibri Bold','Calibri';font-weight: 700;"> 
	    "<%= general.general_comment rescue nil%>"&nbsp;&nbsp;
       
            <% @response = Response.where('general_id = ?', general.id)%>
	        <%if general.provider_user_id.present?%>
				<% @user = User.where('email = ?', general.email).select(:id,:email)%>
				<%if @user.first.email == current_user.email%>
				  <%unless @response.present?%>
				   <%= link_to "Response", respond_to_tip_path(:general_id => general.id)%>
				  <%end%>
				<%else%>
				  <% unless @reaction.present?%>
				    <%= link_to "Reaction"%><br/><br/>
				  <%end%>
				<%end%>
		    <%end%>
	    </div>	

		
		<%if @response.present?%>
			<% @response.flatten.each do |res|%>
			   <% @reaction = Reaction.where('response_id = ?',res.id)%>
			   Response - "<%= res.response_comment rescue nil%>" <br/><br/>
               <%if @reaction.present?%>
                  Reaction - "<%= @reaction.first.reaction_comment rescue nil %>"<br/>
               <%end%>
			<%end%>
        <%end%>
	<%end%>
<%end%>


