<%= form_for(@circle) do |f| %>
  <% if @circle.errors.any? %>
    <div id="error_explanation">
      
      <% @circle.errors.full_messages.each do |message| %>
        <p class="alert-box"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
