<%= stylesheet_link_tag "facebox" %>
<%= javascript_include_tag "facebox"%>
  
  <div class="row">
        <div class="col-xs-4">
          <a href="/"><img src="/assets/logo.jpg" alt="" border="0" style="margin:10px 0"></a> </div>

     <div class="col-xs-8">
      <% unless user_signed_in? %>
    <%= link_to 'Sign in',new_user_session_path,:class=>"btn btn-primary navbar-btn btn-xs", :style=>"float:right; margin-top:40px"%><%end%>
  
    </div>
        
      </div>
  
        <nav role="navigation" class="navbar navbar-inverse ">
            <div class="navbar-header">
              <button data-target="#navbar-collapse-01" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
              </button>
            </div>
            <div id="navbar-collapse-01" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-left"> 

 <% if user_signed_in? %>
    <% if current_user.is_admin == true%>
      <li> <%= link_to "Pages",  pages_path %> </li> 
      <li> <%= link_to "Organizations",  organizations_path %>  </li>
     <li> <%= link_to "Individuals",  individuals_path %>  </li>
     <li> <%= link_to "Feedbacks",  feedbacks_path %>  </li>
     <li> <%= link_to "Circle",  circles_path %>  </li>
     <li> <%= link_to "Factor",  factors_path %>  </li>
     <li> <%= link_to "Trial Days" , trial_days_path,'data-no-turbolink' => true %></li> 
     <li> <%= link_to "Contact_us" , home_contactus_path,'data-no-turbolink' => true %></li>
     <li> <%= link_to "Plans" , plans_path,'data-no-turbolink' => true %></li>         
     <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  <% end %>

  

     <% unless current_user.is_admin == true%>
        <!-- <li><a href="/home/dashboard">Home</a></li>  -->
        
         <ul style="text-align: right"><%=link_to( image_tag("/assets/1404909434_settings-24.png"), home_setting_path, :style=>"float: right-top; size:1x1") %></ul>

        
         <li> <%#= link_to "Import CSV" , import_csv_paste_users_path %></li>

        <!-- <li> <%#= link_to "Power Groups" ,  power_group_relationships_path,'data-no-turbolink' => true %></li> -->
        <li> <%= link_to "My Mirror" ,  my_mirror_paste_users_path,'data-no-turbolink' => true %></li>
        <!-- <li> <%= link_to "Advice" ,  advice_tips_path,'data-no-turbolink' => true %></li> -->

      <!-- 
        <% if invitation.present? %>
          <li> <%= link_to "Sponser" ,  new_sponser_path,'data-no-turbolink' => true %></li>
          <% else %>
          <li><%= link_to "Sponsee", new_sponsee_path,'data-no-turbolink' => true  %>  </li>
        <% end %> -->


          <!-- <li> <%= link_to "Relationships" , relationships_path,'data-no-turbolink' => true %></li> -->

          <li> <%= link_to "Invite" , invite_paste_users_path %></li> 
          <!-- <li> <%= link_to 'Self Rate',  new_rating_path %> </li> -->
          <!-- <li> <%= link_to 'Rate others',  new_ratingother_path %> </li> -->

          <!-- <li> <%= link_to 'Tips',  new_tip_path %> </li>  -->

        <!-- <li> <%#= link_to "My Invitations" , invitation_paste_users_path %></li> -->
      
          
         <li><%= link_to "Help us improve", new_feedback_path, remote: true, :class=>"just_reload" %></li>  

          <li> <%= link_to 'Setting', home_setting_path %> </li>
         
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        
    <% end %>


  <% end %>

<% unless user_signed_in? %>

  
  <li> <%= link_to "How it Works",  home_how_it_works_path %></li>
  <li><%= link_to "Plan", home_learn_more_path  %> </li>
  <!-- <li> <%#= link_to "Individuals",  home_individual_path %></li>  -->
  <!-- <li> <%#= link_to "Organizations", home_organization_path%>  </li> -->
  <!-- <li> <%#= link_to "Learn More", home_learn_more_path %></li> -->
  <li><%= link_to "Sign Up", new_user_session_path  %> </li>
  <li><%= link_to "Help us improve", new_feedback_path, remote: true, :class=>"just_reload" %></li> 
  <li> <%#= link_to "Pre Login Tips",  new_advice_contact_path %>  </li>
   <!-- <li> <%#= link_to 'Help', home_help_path %> </li> -->

  <% end %>


 </ul>
</div><!-- /.navbar-collapse -->
          </nav>
    
    <!-- /.container -->