<!DOCTYPE html>
<html>
<head>
  <title>M360</title>
  <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application",'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  
<div class="container">
  
 <%= render 'layouts/navigation' %>

 <% flash.each do |name, msg| %>

  <% if user_signed_in?%>
	<%= content_tag :div, msg, :class => "alert-box #{name}", :style=>"color:#0C3; text-align:center;" %>
  <% else %>
    <%= content_tag :div, msg, :class => "alert-box #{name}", :style=>"color:red; text-align:center;" %>
  <% end %>

 <% end %> 
 <%= yield %>

</div>

<%= render 'shared/footer' %>

</body>


</html>
