<!DOCTYPE html>
<html>
<head>
  <title>M360</title>
  <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application",'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  

<div class="container" style="min-height:600px;">
 
  
 <%= render 'layouts/navigation' %>

 <% flash.each do |name, msg| %>

  <% if user_signed_in?%>
	<%= content_tag :div, msg, :class => "alert-box #{name}", :style=>"color:#0C3; text-align:center;" %>
  <% else %>
    <%= content_tag :div, msg, :class => "alert-box #{name}", :style=>"color:red; text-align:center;" %>
  <% end %>

 <% end %> 

 <%= yield %>
  


 </div>
<%= render 'shared/footer' %>
 

 <script type="text/javascript">
   var _mfq = _mfq || [];
   (function() {
       var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
       mf.src = "//cdn.mouseflow.com/projects/038e9543-4175-4b9a-97aa-0801014a0cd5.js";
       document.getElementsByTagName("head")[0].appendChild(mf);
   })();


// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/d18Ub0WwkEyEkfkDjoMhLQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#448dd6',
  trigger_color: 'white',
  trigger_background_color: 'rgba(46, 49, 51, 0.6)'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>

</body>


</html>
